html {
    box-sizing: border-box;
    scroll-behavior: auto;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
    font: inherit;
}

/* Ã‰viter des overflow de texte */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.hover-scale {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-scale:hover {
    transform: scale(1.05);
}